.product {
    display: flex;
    flex-direction: row;

    .product_media {
        flex: 1;
    }

    .product_info {
        flex: 4;
        padding: 20px;
        text-align: left;

        .product_price {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 20px;

            h3 {
                margin-bottom: inherit;
            }

            .icon_shipping {
                width: 18px;
                height: 18px;
                margin-left: 10px;
            }
        }
    }

    .product_location {
        flex: 1;
    }
}


