.product {
    width: 100%;
    cursor: pointer;
    .product_card:hover {
      box-shadow: 0 25px 20px 0 rgba(0, 0, 0 , 0.16), 0 -1px 2px 0 rgba(0, 0, 0 , 0.10);
    }

    .product_card {
      img {
        width: 200px;
      }
    }

    .product_info {
        flex: 4;
        padding: 20px;
        text-align: left;

        .product_price {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 20px;

            h3 {
                margin-bottom: inherit;
            }

            .icon_shipping {
                width: 18px;
                height: 18px;
                margin-left: 10px;
            }
        }
    }

    .product_location {
        flex: 1;
        padding: 20px;
        text-align: left;

        h6 {
          color: grey;
          font-size: 0.8rem !important;
        }
    }

    hr {
      height: 0.5px;
      color: darkgray;
    }
}


