.navbar__ml {
    background-color: #FDE600;

    .navbar__container {
      padding-left: 40px;
      padding-right: 40px;
    }

    .logo__ml {
        width: 53px;
        height: 36px;
        margin-right: 10px;
    }
}


